{% extends "base-admin.html" %}
{% import "macros.html" as macros %}

{% block content %}
    {{ macros.render_form(form,
        url_for("admin.universe_modify", u=u)) }}
    <p>
        <a href="{{ url_for("admin.universe_delete", u=u) }}">
            Delete this universe
        </a>
    </p>
    <ul>
        <li><a href="{{ url_for("admin.characters", u=u) }}">
            Characters
        </a></li>
        <li><a href="{{ url_for("admin.comics", u=u) }}">Comics</a></li>
        <li><a href="{{ url_for("admin.comics_create", u=u) }}">
            Upload
        </a></li>
    </ul>
{% endblock %}
