{% extends "root.html" %}

{% block title %}{{ u.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css"
        href="{{ url_for("static", filename="universe.css") }}">
    <link rel="alternate" type="application/rss+xml"
        href="{{ url_for("universe_rss", u=u) }}">
    {% if after %}
        <!-- For Serialist and other indexers, as well as for readers and
             prefetchers, mark the next page in the sequence. -->
        <link rel="next" href="{{ url_for_comics(after) }}">
    {% endif %}
{% endblock %}

{% block header %}
    {% if banner %}
        <div class="banner"
             style="background-image: url({{ url_for("static", filename=banner) }})">
        </div>
    {% endif %}
{% endblock %}
