{% extends "universe/base.html" %}
{% import "macros.html" as macros %}
{% import "oc/macros.html" as ocmacros %}

{% block title %}{{ super() }} - {{ comic.title }}{% endblock %}

{% block head %}
    {{ super() }}
    {% if chrono[0] %}
        <link rel="prev" href="{{ url_for_comic(chrono[0]) }}" />
    {% endif %}
    {% if chrono[1] %}
        <link rel="next" href="{{ url_for_comic(chrono[1]) }}" />
    {% endif %}
{% endblock %}

{% block header %}
    <div class="logo">
    </div>
    <div class="topadhelper">
        <div class="headerad">
        If you are seeing this, would you mind disabling your adblock for a
        second and if the ad is flashing and obnoxious or if it's got sound or
        anything like that tell me about it right away?
        </div>
    </div>
    <div class="headernav">
        <ul>
            <li>Links</li>
            <li>Another link</li>
            <li>I'll think of more links</li>
            <li>About</li>
            <li><a href="{{ url_for("cast", u=u) }}">Cast</a></li>
            <li>Twitter</li>
            <li>More Twitter</li>
            <li>Facebook</li>
            <li>Github</li>
        </ul>
    </div>
{% endblock %}

{% block nav %}
    <div class="navigation">
        {% if chrono %}
            <h3>Chonological Traversal</h3>
        {% endif %}
        {% if chrono[0] %}
            {{ macros.img_link(url_for_comic(chrono[0]),
                        url_for("static", filename="previous.png"),
                        "Chrono Previous") }}
        {% endif %}
        {% if chrono[1] %}
            {{ macros.img_link(url_for_comic(chrono[1]),
                        url_for("static", filename="next.png"),
                        "Chrono Next") }}
        {% endif %}
    </div>
    {% for character, t in characters.items() %}
        <div class="navigation">
            <h3>{{ t[0].name }}</h3>
            {% if t[1] %}
                {{ macros.img_link(url_for_comic(t[1]),
                            url_for("static", filename="previous.png"),
                            t[0].name + "Previous") }}
            {% endif %}
            {% if t[2] %}
                {{ macros.img_link(url_for_comic(t[2]),
                            url_for("static", filename="next.png"),
                            t[0].name + "Next") }}
            {% endif %}
        </div>
    {% endfor %}
    <div class="castnavigation">
        <h1>Characters</h1>
        <ul>
            {% for major in majors %}
                <li>
                    <a href="{{ url_for("cast", u=u) }}#{{ major.slug }}">
                        {{ major.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr />
    <div class="sidebarad">
    Oh hey! I see you have adblock. Good man, good man. Hey, think you could
    turn that off for me? I mean, it's not like you'd ever click the ad and go
    buy them but like... Sometimes my friends try to advertise their own
    webcomics on my site and they're a lot better than me, so if you could, you
    know... I'm rambling. You get what I'm saying though, right? Sorry.
    Nevermind.
    </div>
    <hr />
    <div class="sitenavigation">
        <h1>Universes</h1>
        <ul>
            {% for universe in universes %}
                <li>
                    <a href="{{ url_for("recent", u=universe) }}">
                        {{ universe.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="bufferwatch">
    <h1>Buffer Watch</h1>
        <p>Comics have been uploaded up to</p>
        <h3>{{ buffered.strftime("%B %d, %Y") }}</h3>
    </div>

    <div class="sidebarad">
    Still using that adblock, huh? Sorry. I'm sorry that... I don't know. I
    feel like I must have wronged you in some way.
    </div>

    <div class="sidebarpicture">
    Hey, this isn't even an ad! What gives?
    </div>
{% endblock %}

{% block content %}
    <div class="topnav">
        <a class="first"
            {% if comics["upload"][0] %}
                href="{{ url_for_comic(comics["upload"][0]) }}"
            {% endif %}
            >First
        </a>
        <a class="previous"
            {% if comics["upload"][1] %}
                href="{{ url_for_comic(comics["upload"][1]) }}"
            {% endif %}
            >Prev
        </a>
        <a class="current">The current settings.</a>
        <a class="next"
            {% if comics["upload"][2] %}
                href="{{ url_for_comic(comics["upload"][2]) }}"
            {% endif %}
            >Next
        </a>
        <a class="last"
            {% if comics["upload"][3] %}
                href="{{ url_for_comic(comics["upload"][3]) }}"
            {% endif %}
            >Last
        </a>
    </div>

    <article>
        <div class="comic">
            <img src="{{ comic.url() }}" title="{{ comic.description }}" />
            <div class="blurb">
                <p>{{ comic.description }}</p>
            </div>
        </div>

        <div class="information">
            <h1>{{ comic.title }}</h1>
            {% if comic.characters %}
                <div class="cast">
                    Starring:
                    {% for character in comic.characters %}
                        <a href="{{ url_for("cast", u=u) }}#{{ character.slug }}">
                            {{ character.name }}
                        </a>
                        {% if not loop.last %}
                            |
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if comic.comment %}
                <p>{{ comic.comment|blogify|safe }}</p>
            {% endif %}
            <h2>Uploaded on
            {{ comic.time.strftime("%B %d, %Y at %I:%M:%S %p") }}</h2>
        </div>

        <div class="topnav">
            <a class="first"
                {% if comics["upload"][0] %}
                    href="{{ url_for_comic(comics["upload"][0]) }}"
                {% endif %}
                >First
            </a>
            <a class="previous"
                {% if comics["upload"][1] %}
                    href="{{ url_for_comic(comics["upload"][1]) }}"
                {% endif %}
                >Prev
            </a>
            <a class="current">The current settings.</a>
            <a class="next"
                {% if comics["upload"][2] %}
                    href="{{ url_for_comic(comics["upload"][2]) }}"
                {% endif %}
                >Next
            </a>
            <a class="last"
                {% if comics["upload"][3] %}
                    href="{{ url_for_comic(comics["upload"][3]) }}"
                {% endif %}
                >Last
            </a>
        </div>
    </article>

    <section>
    News will go here if you're on the front page.
    </section>

    <section>
    Click me to view user comments.
    </section>
{% endblock %}
