{% extends "universe/base.html" %}
{% import "macros.html" as macros %}
{% import "oc/macros.html" as ocmacros %}

{% block title %}{{ super() }} - {{ comic.title }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"
        href="{{ url_for("static", filename="oc.css") }}" />
    <link rel="prev" href="{{ url_for_comic(chrono[0]) }}" />
    <link rel="next" href="{{ url_for_comic(chrono[1]) }}" />
{% endblock %}

{% block nav %}
    <div class="navigation">
        {% if chrono %}
            <h3>Chonological Traversal</h3>
        {% endif %}
        {% if chrono[0] %}
            {{ img_link(url_for_comic(chrono[0]),
                        url_for("static", filename="previous.png"),
                        "Chrono Previous") }}
        {% endif %}
        {% if chrono[1] %}
            {{ img_link(url_for_comic(chrono[1]),
                        url_for("static", filename="next.png"),
                        "Chrono Next") }}
        {% endif %}
    </div>
    {% for character, t in characters.items() %}
        <div class="navigation">
            <h3>{{ t[0].name }}</h3>
            {% if t[1] %}
                {{ img_link(url_for_comic(t[1]),
                            url_for("static", filename="previous.png"),
                            t[0].name + "Previous") }}
            {% endif %}
            {% if t[2] %}
                {{ img_link(url_for_comic(t[2]),
                            url_for("static", filename="next.png"),
                            t[0].name + "Next") }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="navigation">
        {% if comics["upload"][0] %}
            {{ img_link(url_for_comic(comics["upload"][0]),
                        url_for("static", filename="first.png"),
                        "First") }}
        {% endif %}
        {% if comics["upload"][1] %}
            {{ img_link(url_for_comic(comics["upload"][1]),
                        url_for("static", filename="previous.png"),
                        "Previous") }}
        {% endif %}
        {% if comics["upload"][2] %}
            {{ img_link(url_for_comic(comics["upload"][2]),
                        url_for("static", filename="next.png"),
                        "Next") }}
        {% endif %}
        {% if comics["upload"][3] %}
            {{ img_link(url_for_comic(comics["upload"][3]),
                        url_for("static", filename="last.png"),
                        "Last") }}
        {% endif %}
    </div>
    <div class="comic">
        <img src="{{ comic.url() }}" title="{{ comic.description }}" />
        <div class="information">
            <h1>{{ comic.title }}</h1>
            {% if comic.characters %}
                <div class="cast">Starring:
                    {% for character in comic.characters %}
                        <a href="{{ url_for("cast", u=u) }}#{{ character.slug }}">
                            {{ character.name }}
                        </a>
                        {% if not loop.last %}
                            |
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <h6>Uploaded on
            {{ comic.time.strftime("%B %d, %Y at %I:%M:%S %p") }}</h6>
            {% if comic.comment %}
                {{ comic.comment|blogify|safe }}
            {% endif %}
        </div>
    </div>

    <div class="shareables"></div>
    <div id="discussion">
        {% if not current_user.is_anonymous() %}
            {{ ocmacros.render_form(ocform, url_for("comment", u=u, cid=comic.id), "co") }}
        {% else %}
            To join the conversation, <a href="{{ url_for("users.register",
                next=request.path) }}">register</a> and <a href="{{
                url_for("users.login", next=request.path) }}">login</a>!
        {% endif %}
        {{ render_posts(comic.thread) }}
    </div>
    <div class="money"></div>
{% endblock %}

{% macro render_posts(thread) %}
    <section id="threads">
        {% for post in thread.posts %}
        <article>
            <header>
                {{ post.author }} <time>{{ post.timestamp }}</time> No. {{ post.id }} <br />
            </header>
            <section>
                {% if post.filename %}
                    <img src="{{ post.url() }}" />
                {% endif %}
                {{ post.comment|eblogify|safe }}
            </section>
        </article>
        <br />
        {% endfor %}
    </section>
{% endmacro %}
