<!DOCTYPE html>

<head>
    {% block head %}
    {% endblock %}
</head>

{% with flashes = get_flashed_messages(True) %}
    {% if flashes %}
        <ul>
        {% for category, flash in flashes %}
            <li class="{{ category }}">{{ flash }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

{% if current_user.is_anonymous() %}
    Not currently logged in (
    <a href="{{ url_for("login", next=request.path)}}">Login?</a>
    )
{% else %}
    Logged in as {{ current_user.username }} (
    <a href="{{ url_for("logout", next=request.path)}}">Logout?</a>
    )
{% endif %}
