{% extends "base.html" %}

{% block head %}
    {% if after %}
        <!-- For Serialist and other indexers, as well as for readers and
          -- prefetchers, mark the next page in the sequence. -->
        <link rel="next" href="{{ url_for("comics", cid=after.id) }}">
    {% endif %}
{% endblock %}

{% block body %}
    Here's comic number {{ comic.id }} "{{ comic.title }}" uploaded
    {{ comic.time }}. It features these characters:
    <ul>
    {% for character in comic.characters %}
        <li>{{ character.name }}</li>
    {% endfor %}
    </ul>
    <img src="{{ url_for("static", filename=comic.filename) }}" />
    {% if before %}
        <a href="{{ url_for("comics", cid=before.id) }}">Previous</a>
    {% endif %}
    {% if after %}
        <a href="{{ url_for("comics", cid=after.id) }}">Next</a>
    {% endif %}
    {% if chrono[0] %}
        <a href="{{ url_for("comics", cid=chrono[0].id) }}">Chrono Previous</a>
    {% endif %}
    {% if chrono[1] %}
        <a href="{{ url_for("comics", cid=chrono[1].id) }}">Chrono Next</a>
    {% endif %}
    {% for character, t in characters.items() %}
        {% if t[1] %}
            <a href="{{ url_for("comics", cid=t[1].id) }}">
                {{ t[0].name }} Previous
            </a>
        {% endif %}
        {% if t[2] %}
            <a href="{{ url_for("comics", cid=t[2].id) }}">
                {{ t[0].name }} Next
            </a>
        {% endif %}
    {% endfor %}
{%endblock %}
