{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Now with slogans!{% endblock %}

{% block content %}
    {{ macros.render_comic(comic, comics) }}
    <div class="newsfeed">
        {% for post in newsposts %}
            {% set portrait = post.portrait.portrait %}
            <div class="newsentry">
                <h3>{{ post.title }}</h3>
                <div class="portrait">
                    <img src="{{ url_for("static", filename=portrait) }}" />
                </div>
                <p>{{ post.content|safe|urlize }}</p>
                {{ lipsum(2) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
