{% extends "root.html" %}

{% block title %}Now with slogans!{% endblock %}

{% block content %}
    {% if universes %}
        <div class="universes">
            <ul>
            {% for universe in universes %}
                <li>
                    <a href="{{ url_for("universe", u=universe) }}">
                        {{ universe.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="newsfeed">
        {% for post in newsposts %}
            {% set portrait = "portraits/%s" % post.portrait.portrait %}
            <div class="newsentry">
                <h3>{{ post.title }}</h3>
                <div class="portrait">
                    <img src="{{ url_for("static", filename=portrait) }}" />
                </div>
                {{ post.content|blogify|safe|urlize }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
