{% macro render_field(field) %}
    {# Hack: Don't show SubmitField labels, since they merely repeat the
     # content of the button. #}
    {# Hack: Don't show HiddenField labels, and hide them with undisplayable
     # divs. #}
    {% set hide_label = field.__class__.__name__ not in ("HiddenField", "SubmitField") %}
    <tr>
        {% if hide_label %}
            <td>
                {{ field.label }}
            </td>
        {% endif %}
        <td {% if hide_label %}colspan="2"{% endif %} >
            {{ field()|safe }}
            {% if field.errors %}
                <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro render_form(form, url) %}
    <form method="POST" enctype="multipart/form-data" action="{{ url }}">
        <table>
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        </table>
    </form>
{% endmacro %}

{% macro render_comic(comic, comics) %}
    <div class="navigation">
        {% if comics["upload"][0] %}
            <a href="{{ url_for("comics", cid=comics["upload"][0].id) }}">
                <img src="{{ url_for("static", filename="first.png") }}">
            </a>
        {% endif %}
        {% if comics["upload"][1] %}
            <a href="{{ url_for("comics", cid=comics["upload"][1].id) }}">
                <img src="{{ url_for("static", filename="previous.png") }}">
            </a>
        {% endif %}
        {% if comics["upload"][2] %}
            <a href="{{ url_for("comics", cid=comics["upload"][2].id) }}">
                <img src="{{ url_for("static", filename="next.png") }}">
            </a>
        {% endif %}
        {% if comics["upload"][3] %}
            <a href="{{ url_for("comics", cid=comics["upload"][3].id) }}">
                <img src="{{ url_for("static", filename="last.png") }}">
            </a>
        {% endif %}
    </div>
    <div class="comic">
        <img src="{{ url_for("static", filename=comic.filename) }}"
            title="{{ comic.description }}" />
        <div class="information">
            <h1>{{ comic.title }}</h1>
            <h6>Uploaded on
            {{ comic.time.strftime("%B %d, %Y at %I:%M:%S %p") }}</h6>
            {% if comic.characters %}
                <div class="cast">
                    Starring:
                    {% for character in comic.characters %}
                        {{ character.name }}
                        {% if not loop.last %}
                            |
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if comic.comment %}
                <p>{{ comic.comment }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_login(request, user, form) %}
    <div class="login">
        {% if user.is_anonymous() %}
            {{ render_form(form, url_for("users.login", **request.args)) }}
            Not currently logged in (
            <a href="{{ url_for("users.login", next=request.path)}}">Login</a>,
            <a href="{{ url_for("users.register", next=request.path)}}">Register?</a>
            )
        {% else %}
            Logged in as {{ user.username }} (
            <a href="{{ url_for("users.logout", next=request.path)}}">Logout?</a>
            )
        {% endif %}
    </div>
{% endmacro %}
