{% macro render_field(field) %}
    {# Hack: Don't show SubmitField labels, since they merely repeat the
     # content of the button. #}
    {# Hack: Don't show HiddenField labels, and hide them with undisplayable
     # divs. #}
    {# Hack: Ditto for CSRFs, which have their own dedicated type. #}
    {% set hide_label =
        field.type in ("CSRFTokenField", "HiddenField", "SubmitField") %}
    <tr>
        {% if not hide_label %}
            <td>
                {{ field.label }}
            </td>
        {% endif %}
        <td {% if hide_label %}colspan="2"{% endif %} >
            {# Hack: Textareas should have extra params for display. #}
            {% if field.type == "TextAreaField" %}
                {{ field(wrap="soft", rows="4", cols="48")|safe }}
            {# Hack: Multiple-selection fields should scale up to a size of
               ten. #}
            {% elif field.type == "QuerySelectMultipleField" %}
                {% set size = field.iter_choices()|ten_or_fewer %}
                {{ field(size=size)|safe }}
            {% else %}
                {{ field()|safe }}
            {% endif %}
            {% if field.errors %}
                <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro render_form(form, url) %}
    <form method="POST" enctype="multipart/form-data" action="{{ url }}">
        <div class="form">
            <h3>{{ form.display_name() }}</h3>
            <table>
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            </table>
        </div>
    </form>
{% endmacro %}

{% macro img_link(href, image, title) %}
    <a href="{{ href }}"><img src="{{ image }}" title="{{ title }}" /></a>
{% endmacro %}

{% macro render_comic(u, comic, comics) %}
    <div class="navigation">
        {% if comics["upload"][0] %}
            {{ img_link(url_for_comic(comics["upload"][0]),
                        url_for("static", filename="first.png"),
                        "First") }}
        {% endif %}
        {% if comics["upload"][1] %}
            {{ img_link(url_for_comic(comics["upload"][1]),
                        url_for("static", filename="previous.png"),
                        "Previous") }}
        {% endif %}
        {% if comics["upload"][2] %}
            {{ img_link(url_for_comic(comics["upload"][2]),
                        url_for("static", filename="next.png"),
                        "Next") }}
        {% endif %}
        {% if comics["upload"][3] %}
            {{ img_link(url_for_comic(comics["upload"][3]),
                        url_for("static", filename="last.png"),
                        "Last") }}
        {% endif %}
    </div>
    <div class="comic">
        <img src="{{ comic.url() }}" title="{{ comic.description }}" />
        <div class="information">
            <h1>{{ comic.title }}</h1>
            {% if comic.characters %}
                <div class="cast">Starring:
                    {% for character in comic.characters %}
                        <a href="{{ url_for("cast", u=u) }}#{{ character.slug }}">
                            {{ character.name }}
                        </a>
                        {% if not loop.last %}
                            |
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <h6>Uploaded on
            {{ comic.time.strftime("%B %d, %Y at %I:%M:%S %p") }}</h6>
            {% if comic.comment %}
                {{ comic.comment|blogify|safe }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_nav(u, chrono, characters) %}
    <div class="navigation">
        {% if chrono %}
            <h3>Chonological Traversal</h3>
        {% endif %}
        {% if chrono[0] %}
            {{ img_link(url_for_comic(chrono[0]),
                        url_for("static", filename="previous.png"),
                        "Chrono Previous") }}
        {% endif %}
        {% if chrono[1] %}
            {{ img_link(url_for_comic(chrono[1]),
                        url_for("static", filename="next.png"),
                        "Chrono Next") }}
        {% endif %}
    </div>
    {% for character, t in characters.items() %}
        <div class="navigation">
            <h3>{{ t[0].name }}</h3>
            {% if t[1] %}
                {{ img_link(url_for_comic(t[1]),
                            url_for("static", filename="previous.png"),
                            t[0].name + "Previous") }}
            {% endif %}
            {% if t[2] %}
                {{ img_link(url_for_comic(t[2]),
                            url_for("static", filename="next.png"),
                            t[0].name + "Next") }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_login(request, user, form) %}
    <div class="login">
        {% if user.is_anonymous() %}
            {{ render_form(form, url_for("users.login", **request.args)) }}
            Not currently logged in (
            <a href="{{ url_for("users.login", next=request.path)}}">Login</a>,
            <a href="{{ url_for("users.register", next=request.path)}}">Register?</a>
            )
        {% else %}
            Logged in as {{ user.username }} (
            <a href="{{ url_for("users.logout", next=request.path)}}">Logout?</a>
            )
        {% endif %}
    </div>
{% endmacro %}
