{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<form method="POST" enctype="multipart/form-data"
    action="{{ url_for("portraits_create") }}">
    {{ cform.hidden_tag() }}
    {{ macros.render_field(cform.name) }}
    {{ macros.render_field(cform.portrait) }}
    {{ macros.render_field(cform.submit) }}
</form>

<form method="POST" enctype="multipart/form-data"
    action="{{ url_for("portraits_modify") }}">
    {{ mform.hidden_tag() }}
    {{ macros.render_field(mform.portraits) }}
    {{ macros.render_field(mform.portrait) }}
    {{ macros.render_field(mform.submit) }}
</form>
{% endblock %}
