{% extends "base.html" %}

{% block content %}
    <p>In very informal terms, permit us to briefly state what kinds of
    personal data we gather from our users.</p>

    <p>We store traditional webserver logs from all of our visitors. We
    remember your IP address, the pages you've viewed, your browser's
    make and model (technically, the "User Agent" header), and the time of
    each request. Nearly all websites store this data, and we only use it to
    gather statistics about the kinds of browsers and clients used to view
    this website.</p>

    <p>We request that a cookie be stored in your browser or client. This
    cookie only identifies whether or not you are logged in, and whether or
    not we have seen you before. This data is used to keep you logged-in if
    you are a registered user. For technical reasons, it is not feasible to
    not proffer a cookie at your browser; instead, if you wish to not have any
    of our cookies stored, you should configure your browser
    appropriately.</p>

    <p>For our registered users, we store a username and an encrypted
    password. We cannot decrypt the password. We do not correlate IP addresses
    or any other usage statistics with user accounts. We offer user accounts
    purely as a novelty, and do not redistribute our user accounts with
    anybody.</p>

    <p>We regretfully cannot permit users younger than 13 to register. If we
    discover an account is held by a user younger than 13, we will destroy
    their account.</p>
{% endblock %}
