@mixin corners($radius: 1em) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin shaded-border($color) {
    border: {
        color: $color;
        style: solid;
        width: 2px;
    }
    background: {
        color: change_color($color, $lightness: 90%, $saturation: 90%);
    }
}

@mixin classy-div($color, $radius: 1em) {
    @include corners($radius);
    @include shaded-border($color);
}
