@import "mixins";

$lawngreen: hsl(90, 100%, 49%);
$springgreen: hsl(150, 100%, 50%);

div.content {
    margin-top: 30px;
    text-align: center;
}

div.login {
  float : right;
  height : 100px;
  width : 100px
}

div.navigation {
  clear : both;
  text-align : center
}

p {
    text: {
        align: left;
        indent: 2em;
        align: justify;
    }
}

.header {
    width: 760px;
    height: 100px;
    text-align: center;
    .left {
        position: relative;
        left: 0px;
        top: 0px;
        height: 100px;
        width: 100px;
        display: block;
        float: left;
        background-image: url(images/logo.png);
    }
    .banner {
        position: relative;
        left: 0px;
        top: 0px;
        height: 100px;
        width: 560px;
        display: block;
        float: left;
        background-image: url(images/banner.png);
    }
    .right {
        position: relative;
        left: 0px;
        top: 0px;
        height: 100px;
        width: 100px;
        display: block;
        float: left;
        background-image: url(images/login.png);
    }
}

@mixin banner-rollover {
    display: block;
    z-index: 1;

    position: absolute;
    top: 42px;
    height: 58px;

    background: {
        position: center bottom;
        repeat: no-repeat;
    }

    &:hover {
        top: 0px;
        height: 100px;
    }
}

.button1 {
    @include banner-rollover;
    background-image: url(images/shine.png);
    width: 50px;
    left: 0px;
}

.button2 {
    @include banner-rollover;
    background-image: url(images/shaeshae.png);
    width: 50px;
    left: 51px;
}

.button3 {
    @include banner-rollover;
    background-image: url(images/alex.png);
    width: 98px;
    left: 102px;
}

.button4 {
    @include banner-rollover;
    background-image: url(images/heather.png);
    width: 63px;
    left: 217px;
}

.button5 {
    @include banner-rollover;
    background-image: url(images/mika.png);
    width: 50px;
    left: 300px;
}

.button6 {
    @include banner-rollover;
    background-image: url(images/cid.png);
    width: 80px;
    left: 368px;
}

.button7 {
    @include banner-rollover;
    background-image: url(images/secretman.png);
    width: 82px;
    left: 477px;
}

.comic {
    @include classy-div($springgreen, 25px);

    text-align: center;
    padding: 10px;

    margin-bottom: 50px;
}

.navigation {clear:both;
    text-align:center;
}

.information {
    @include corners(0 0 25px 25px);

    background: #DFDFFE;
    padding: 0 5px 5px 5px;

    text: {
        align: left;
        indent: 1.6em;
    }

    h1 {
        color: #001122;
        clear:none;
        letter-spacing: 0.3em;
      margin-bottom:0px;

        font: {
            family: "Arial";
            size: large;
            variant: small-caps;
        }
    }

    h6 {
        margin: 0px;
    }

    p {
        padding: 5px;
    }

    div.cast {
        font-size: x-small;
    }
}

.cast-even img {
    float: left;
}

.cast-odd img {
    float: right;
}

span.quote {
    color: #00ff00;
}

.form {
    margin: 1em;
    border: 1px black solid;
}
