@import "mixins";

div.body {
  width : 760px;
  left : 0px;
  margin : 0px;

    background: {
        color: aliceblue;
    }
}

div.content {
  position : relative;
  top : 100px;
  text-align : center
}

div.login {
  float : right;
  height : 100px;
  width : 100px
}

div.navigation {
  clear : both;
  text-align : center
}

.newsentry {
    @include corners(25px);

    clear: left;
    position: relative;
    overflow: auto;

    background-color: #001122;

    color: #C0FFEE;
    padding: 20px;
    margin-bottom: 5px;

    border: {
        style: solid;
        color: green;
    }

    h3 {
      background : #001133;
      color : #0099AA;
      margin : 0px;

        border: {
          style: solid;
          color: #003355;
        }

      /*width : 548px;
      left : 0px;
      position : absolute;
      top : 0px*/
    }
}

div.portrait {
  float : left;
  margin-right : 1em
}

p {
    text: {
        align: left;
        indent: 2em;
        align: justify;
    }
}

.header {
  width : 760px;
  height : 100px;
  text-align : center;
  position : absolute
}

.left {
  display : block;
  height : 100px;
  width : 100px;
  float : left;
  background-image : url(images/logo.png)
}

.right {
  display : block;
  height : 100px;
  width : 100px;
  float : right;
  background-image : url(images/login.png)
}

.banner {
  height : 100px;
  width : 560px;
  position : absolute;
  background : url(images/banner.png);
  left : 100px
}

@mixin banner-rollover {
    display: block;
    z-index: 1;

    position: absolute;
    top: 42px;
    height: 58px;

    background: {
        position: center bottom;
        repeat: no-repeat;
    }

    &:hover {
        top: 0px;
        height: 100px;
    }
}

.button1 {
    @include banner-rollover;
    background-image: url(images/shine.png);
  width : 50px;
  left : 100px;
}

.button2 {
    @include banner-rollover;
    background-image: url(images/shaeshae.png);
  width : 50px;
  left : 151px;
}

.button3 {
    @include banner-rollover;
    background-image: url(images/alex.png);
  width : 98px;
  left : 202px;
}

.button4 {
    @include banner-rollover;
    background-image: url(images/heather.png);
  width : 63px;
  left : 317px;
}

.button5 {
    @include banner-rollover;
    background-image: url(images/mika.png);
  width : 50px;
  left : 400px;
}

.button6 {
    @include banner-rollover;
    background-image: url(images/cid.png);
  width : 80px;
  left : 468px;
}

.button7 {
    @include banner-rollover;
    background-image: url(images/secretman.png);
  width : 82px;
  left : 577px;
}

.newsfeed {
  width : 560px
}

.comic {
    @include corners(25px);

    text-align: center;
    padding: 10px;

    margin-bottom: 50px;

    background: {
        image: url(images/comicbg.png);
        repeat: repeat-y;
    }
}

.navigation {clear:both;
    text-align:center;
}

.information {
    @include corners(0 0 25px 25px);

    background: #DFDFFE;
    padding: 0 5px 5px 5px;

    text: {
        align: left;
        indent: 1.6em;
    }

    h1 {
        color: #001122;
        clear:none;
        letter-spacing: 0.3em;
      margin-bottom:0px;

        font: {
            family: "Arial";
            size: large;
            variant: small-caps;
        }
    }

    h6 {
        margin: 0px;
    }

    p {
        padding: 5px;
    }

    div.cast {
        font-size: x-small;
    }
}

.cast-even img {
    float: left;
}

.cast-odd img {
    float: right;
}

.errors li {
    color: red;
}
