div.body {
  width: 760px;
  left: 0px;
  margin: 0px; }

div.content {
  position: relative;
  top: 100px;
  text-align: center; }

div.login {
  float: right;
  height: 100px;
  width: 100px; }

div.navigation {
  clear: both;
  text-align: center; }

.newsentry {
  clear: left;
  position: relative;
  background-color: #001122;
  color: #C0FFEE;
  padding: 20px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: green; }
  .newsentry h3 {
    background: #001133;
    color: #0099AA;
    margin: 0px;
    border-style: solid;
    border-color: #003355;
    /*width : 548px;
    left : 0px;
    position : absolute;
    top : 0px*/ }

div.portrait {
  float: left;
  margin-right: 1em; }

p {
  text-align: left;
  text-indent: 2em;
  text-align: justify; }

.header {
  width: 760px;
  height: 100px;
  text-align: center;
  position: absolute; }

.left {
  display: block;
  height: 100px;
  width: 100px;
  float: left;
  background-image: url(images/logo.png); }

.right {
  display: block;
  height: 100px;
  width: 100px;
  float: right;
  background-image: url(images/login.png); }

.banner {
  height: 100px;
  width: 560px;
  position: absolute;
  background: url(images/banner.png);
  left: 100px; }

.button1 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/shine.png);
  width: 50px;
  left: 100px; }
  .button1:hover {
    top: 0px;
    height: 100px; }

.button2 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/shaeshae.png);
  width: 50px;
  left: 151px; }
  .button2:hover {
    top: 0px;
    height: 100px; }

.button3 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/alex.png);
  width: 98px;
  left: 202px; }
  .button3:hover {
    top: 0px;
    height: 100px; }

.button4 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/heather.png);
  width: 63px;
  left: 317px; }
  .button4:hover {
    top: 0px;
    height: 100px; }

.button5 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/mika.png);
  width: 50px;
  left: 400px; }
  .button5:hover {
    top: 0px;
    height: 100px; }

.button6 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/cid.png);
  width: 80px;
  left: 468px; }
  .button6:hover {
    top: 0px;
    height: 100px; }

.button7 {
  display: block;
  position: absolute;
  top: 42px;
  height: 58px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(images/secretman.png);
  width: 82px;
  left: 577px; }
  .button7:hover {
    top: 0px;
    height: 100px; }

.newsfeed {
  width: 560px; }

.comic {
  text-align: center;
  background: url(images/comicbackground.png) repeat-y;
  padding: 10px; }

.navigation {
  clear: both;
  text-align: center; }

.information {
  background: #DFDFFE; }
  .information h1 {
    color: #001122;
    clear: none;
    letter-spacing: 0.3em;
    margin-bottom: 0px;
    font-family: "Arial";
    font-size: large;
    font-variant: small-caps;
    text-align: left;
    text-indent: 10px; }
  .information h6 {
    margin: 0px;
    text-align: left;
    text-indent: 10px; }
  .information p {
    padding: 5px;
    text-align: left;
    text-indent: 1.6em; }

.cast {
  font-size: x-small; }
