div.body {
    width: 760px;
    left: 0px;
    margin: 0px;
}

div.content {
    position: relative;
    top: 100px;
    text-align: center;
}

div.login {
    float: right;
    height: 100px;
    width: 100px;
}

div.newsentry {
    clear: left;
}

div.portrait {
    float: left;
    margin-right: 1em;
}

p {
    text-align: left;
    text-indent: 2em;
    text-align: justify;
}
