@import "mixins";

#discussion {
    background: #F4F4F4;
    align: center;
    font-family: "Lucida Grande", "Droid Sans", sans-serif;

    label {
        float: left;
        width: 25%;
        text-align: right;
        font-weight: bold;
    }

    section {
        border: 5px;
        border-color: #000000;

        article {
            background: #B7C5D9;

            margin: 10px;
            padding: 5px;
            display: block;

            border: {
                style: none solid solid none;
                right: 1px solid #AAAAAA;
                bottom: 1px solid #AAAAAA;
            }

            header {
                color: #117743;
                font-weight: 800;
                font-size: 10pt;
            }
        }
    }
}

header {
    font-size: 2.0em;
}

footer {
    font-size: 2.0em;
}

table {
    border: 0;
    padding: 5px;
    margin: 5px;
}

section#compose {

    form {
        @include corners;

        /* Shrinkwrap. */
        display: inline-block;

        padding: 1em;
        border: 1px solid #000000;
        background: #ccc;
        line-height: 20px;
        padding: 0 5px;
        margin: 0px auto;

        table {
            text-align: left;
        }
    }

    label {
        margin-right: 0.5em;
    }

    label[for="comment"] + textarea {
        display: inline;
    }
}

section#threads article {
    @include corners;
    padding: 1em;
}
