@import "mixins";

/* Grab Chango. */
@import
url(http://fonts.googleapis.com/css?family=Chango&subset=latin,latin-ext);

$cornflower: hsl(219, 79%, 66%);
$royalblue: hsl(225, 73%, 57%);

div.body {
    width: 760px;
    min-width: 760px;
    left: 10px;
    margin: 0px;
}

.flashes {
    padding: 1em;
    margin: 2em;
    border: {
        color: dimgray;
        style: dashed;
        width: 2px;
    }
    background: {
        color: whitesmoke;
    }
    li.errors {
        color: red;
    }
}

div.universes {
    width: 200px;
    float: left;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    li {
        margin: 0.2em;
    }

    a {
        @include classy-div($royalblue, 5px);

        /* Fill the entirety of the list width; this makes the links appear
         * uniform. */
        width: auto;

        color: black;
        font: {
            family: "Chango", serif;
            size: larger;
        }

        /* XXX hax? */
        padding: 0.2em 0.8em;
        display: block;
        text-decoration: none;

        &:hover {
            @include shaded-border($cornflower);
        }
    }
}

.newsfeed {
    width: 560px;
    float: left;
}

.newsentry {
    @include classy-div($royalblue, 25px);

    clear: left;
    position: relative;
    overflow: auto;

    padding: 20px;
    margin-bottom: 5px;

    h3 {
        background: ghostwhite;
        margin: 0px;

        border: {
            style: dashed;
            color: lavender;
            width: 1px;
        }

      /*width : 548px;
      left : 0px;
      position : absolute;
      top : 0px*/
    }

    div.portrait {
        float: left;
        margin-right: 1em;
    }
}

.footer {
    clear: both;

    font: {
        family: sans-serif;
        size: x-small;
    }
    text: {
        align: center;
    }
}
