{% macro render_field(field) %}
    {# Hack: Don't show SubmitField labels, since they merely repeat the
     # content of the button. #}
    {# Hack: Don't show HiddenField labels, and hide them with undisplayable
     # divs. #}
    {% set hide_label = field.type in ("HiddenField", "SubmitField") %}
    <tr>
        {% if not hide_label %}
            <td>
                {{ field.label }}
            </td>
        {% endif %}
        <td {% if hide_label %}colspan="2"{% endif %} >
            {# Hack: Textareas should have extra params for display. #}
            {% if field.type == "TextAreaField" %}
                {{ field(wrap="soft", rows="4", cols="48")|safe }}
            {% else %}
                {{ field()|safe }}
            {% endif %}
            {% if field.errors %}
                <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro render_form(form, url, board) %}
    <section id="compose">
        <form name="formcompose" action="{{ url }}" method="POST"
            enctype="multipart/form-data">
            <table>
                <input type="hidden" name="board" value="{{ board }}" />
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
            </table>
        </form>
    </section>
{% endmacro %}

{% macro render_posts(thread) %}
    <section id="threads">
        {% for post in thread.posts %}
        <article>
            <header>
                {{ post.author }} <time>{{ post.timestamp }}</time> No. {{ post.id }} <br />
            </header>
            <section>
                {% if post.file %}
                    <img src="/static/images/{{ post.file }}" />
                {% endif %}
                {{ post.comment }}
            </section>
        </article>
        <br />
        {% endfor %}
    </section>
{% endmacro %}
